<div style="text-align: center">

  <img src="../assets/logo.jpg"
  alt="Saven Logo"
  width="100"
  height="100"
  class="logo">

  <h1 class="app-title">Saven Technologies To do list</h1>
</div>

<div class="container">  
  Add your TODO
  <br>
  <input type="text" 
  class="input-text" 
  placeholder="Enter your ToDo List"
  [(ngModel)]="todoValue"
  (keyup.enter)="addItem()"
  />
  <button class="add-btn" (click)="addItem()">Add to TODO List</button>

  <!-- We need a view to hold all the items that are added to todo list -->
  <div class="list">

    <ul>
        <li *ngFor="let item in list">
          <input type="checkbox"
           name="isDone"
           [(ngModel)]="item.isDone"> 
          {{item.todoValue}}
          <button class="btn" (click)="deleteItem(item.id)">Delete</button>
        </li>
    </ul>

  </div>
</div>